<div class="the-container">
  <span class="must-exist">Record 1</span>
  <span class="might-exist">This is cool</span>
</div>
<div class="the-container">
  <span class="must-exist">Record 2</span>
  <span class="might-exist">This is more cool</span>
</div>
<div class="the-container">
  <span class="must-exist">Record 3</span>
</div>
<div class="the-container">
  <span class="must-exist">Record 4</span>
  <span class="might-exist">This is again cool</span>
</div>