<body>
  <div class="product-listing">
    <h2 class="product-name">Product A</h2>
    <span class="product-price" sub_class="xxx">USD100</span>
    <span class="product-price" sub_class="yyy">USD66</span>
  </div>
  <div class="product-listing">
    <h2 class="product-name">Product B</h2>
    <span class="product-price">USD200</span>
    <span class="date-sold">20th Feb</span>
  </div>
  <div class="product-listing">
    <h2 class="product-name">Product C</h2>
    <span class="date-sold">30th Feb</span>
  </div>  
  <div class="product-listing">
    <img src="">
  </div>  
</body>