<html>
<head>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" media="all" rel="stylesheet" />   
</head>

  <body>
    <div class="container">
      <section>
        <div class="free-text-holder">
          <span>a thing</span>
          1234
          <button class="btn btn-primary">Click me</button>
          <div>
            This will be block
            <div>
              because of this
            </div>
          </div>
        </div>
      </section>
      

      <section>
        <ul>
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
        </ul>  
      </section>
      

      <section>
        <div class="row">
          <div class="span4">Price</div>
          <div class="span4">1234</div>
          <div class="span4"></div>
        </div>

        <div class="row">
          <div class="span4">Price</div>
          <div class="span4">4444</div>
          <div class="span4"></div>
        </div>

        <div class="row">
          <div class="span4">Price</div>
          <div class="span4">5555</div>
          <div class="span4"></div>
        </div>
      </section>

      

      <section>
        <table class="table">
          <tr>
            <td>col 1</td>
            <td>col 2</td>
            <td>col 3</td>
          </tr>
          <tr>
            <td>col 1</td>
            <td>col 2</td>
            <td>col 3</td>
          </tr>
          <tr>
            <td>col 1</td>
            <td>col 2</td>
            <td>col 3</td>
          </tr>
        </table>

      </section>
    
    </div>
  </body>
</html>