<script>
  var times_clicked = 0;
  jQuery(document).ready(function(){
    jQuery(window).scroll(function(){
      jQuery("#at-the-bottom").html("Captain Jack Sparrow")
    });
  });
</script>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div id="at-the-bottom">Still swimming</div>