<script>
  jQuery(document).ready(function(){
    jQuery("#my_changing_mind").click(function(){
      console.log("Line 3")
      jQuery("#my_changing_mind").html("My mind has changed");
    });
  });
</script>
<div id="my_changing_mind">What to do?</div>