<script>
  jQuery(document).ready(function(){
    jQuery("#my_changing_mind").mouseover(function(){
      console.log("I mousedover")
      jQuery("#my_changing_mind").html("My mind has been glossed over");
    });
  });
</script>
<div id="my_changing_mind">What to do?</div>