<script>
var something = 'a simple variable';
var array_in_dom = [ "array_value1" , "array_value2" ];
var my_json_obj = {
  "my_attr1" : "This is a JSON object"
}
</script>
<div class='something'>somecontent1</div>
<div class='something'>somecontent2</div>