<script>
console.log("Var Query Page was loaded");
var something = 'a simple variable';

var array_in_dom = [ "array_value1" , "array_value2" ];
</script>
<div class='something'>somecontent1</div>
<div class='something'>somecontent2</div>