<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
jQuery(document).ready(function() {

  setTimeout(function() {
    jQuery("#holder").append(
      jQuery("<div id='iam'>").html("I am loaded")
    );

  }, 2000);
});
</script>
Waiting for something
<div id='holder'>
</div>
